apiVersion: v1
kind: Service
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
  labels:
    app.kubernetes.io/name: {{ .Name }}
    app.kubernetes.io/managed-by: kfn
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: {{ .Name }}
  ports:
    - name: http
      port: {{ .Port }}
      targetPort: http
{{- if .Monitoring.On }}
    - name: metrics
      port: {{ .Monitoring.Port }}
      targetPort: metrics
{{- end }}
